<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Client Centered</h2>
                <hr class="light">
                <p class="text-faded">
                    Expert at communicating clear ideas.  I have experience in machine learning models, time series analysis, and presentation ready visuals.  I started in quantitative finance, and have broadened my skills into general software development and data science. 
                    <br/> 
                    <br/>
                    I help clients learn more from their data.  </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">How can I help?</a>
            </div>
        </div>
    </div>
</section>