<header>
    <div class="header-content">
        <div class = "row no-gutter">
            <div class = "col-lg-12">
                <div class = "text-center">
                    <img scr="img/Headshot.jpg" class = "rounded img">
                </div>
            </div>
        </div>
        <div class="header-content-inner">
            <h1>John Gallagher</h1>
            <hr>
            <p>Data scientist and Developer<br/>                
               In my free time, I like to build things, exercise, and play Dota.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
